@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

#root {
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(14, 16, 17, 1);
  font-family: "Gabarito", sans-serif;
  /* font-family: "Geologica", sans-serif; */
}

